In [1]:
import pandas as pd
import numpy as np

C:\Users\redyo\AppData\Local\Temp\ipykernel_11132\2937650959.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [6]:
# df = pd.read_excel('SH_H2O_SAFE.xlsx',sheet_name=None)
xls = pd.ExcelFile('SH_H2O_SAFE.xlsx')
xls.sheet_names

['Table format', 'Record format', 'CodeDescriptions']

In [8]:
df_tableFormat = pd.read_excel('SH_H2O_SAFE.xlsx',sheet_name='Table format')
df_recordFormat = pd.read_excel('SH_H2O_SAFE.xlsx',sheet_name='Record format')
df_recordFormat.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,UpperBound,LowerBound,BasePeriod,Source,GeoInfoUrl,FootNote,Location,Nature,Reporting Type,Units
0,6,6.1,6.1.1,SH_H2O_SAFE,Proportion of population using safely managed ...,4,Afghanistan,2000,11.09333,2000,...,NaN,NaN,NaN,WHO/UNICEF Joint Monitoring Programme for Wate...,NaN,NaN,ALLAREA,E,G,PERCENT
1,6,6.1,6.1.1,SH_H2O_SAFE,Proportion of population using safely managed ...,4,Afghanistan,2001,11.10522,2001,...,NaN,NaN,NaN,WHO/UNICEF Joint Monitoring Programme for Wate...,NaN,NaN,ALLAREA,E,G,PERCENT
2,6,6.1,6.1.1,SH_H2O_SAFE,Proportion of population using safely managed ...,4,Afghanistan,2002,12.00773,2002,...,NaN,NaN,NaN,WHO/UNICEF Joint Monitoring Programme for Wate...,NaN,NaN,ALLAREA,E,G,PERCENT
3,6,6.1,6.1.1,SH_H2O_SAFE,Proportion of population using safely managed ...,4,Afghanistan,2004,13.81868,2004,...,NaN,NaN,NaN,WHO/UNICEF Joint Monitoring Programme for Wate...,NaN,NaN,ALLAREA,E,G,PERCENT
4,6,6.1,6.1.1,SH_H2O_SAFE,Proportion of population using safely managed ...,4,Afghanistan,2003,12.90992,2003,...,NaN,NaN,NaN,WHO/UNICEF Joint Monitoring Programme for Wate...,NaN,NaN,ALLAREA,E,G,PERCENT

E -> stands for Estimated Data

In [9]:
print("number of unique names:",len(df_tableFormat['GeoAreaName'].unique()))

number of unique names: 198

Q3

In [10]:
locations = ['ALLAREA', 'RURAL', 'URBAN']
for i in range(len(locations)):
    print(locations[i],len(df_tableFormat[df_tableFormat['Location'] == locations[i]]))

ALLAREA 180
RURAL 102
URBAN 131

Q4

In [18]:
df_afgan = df_tableFormat[df_tableFormat['GeoAreaName']=='Afghanistan']

0    Proportion of population using safely managed ...
1    Proportion of population using safely managed ...
2    Proportion of population using safely managed ...
Name: SeriesDescription, dtype: object

#Q5

In [24]:
xls= pd.ExcelFile('SDG_10_7_3.xlsx',engine='openpyxl')
# xls.sheet_names #-> ['CodeDescriptions', 'Goal10', 'Pivot Table 5']
df_goal = pd.read_excel('SDG_10_7_3.xlsx',sheet_name='Goal10')
df_goal.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,.10,.11,.12,.13,.14,.15,.16,.17,.18,.19
0,10,10.7,10.7.3,SM_DTH_MIGR,Total deaths and disappearances recorded durin...,1,World,2014,5548,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10,10.7,10.7.3,SM_DTH_MIGR,Total deaths and disappearances recorded durin...,1,World,2015,6750,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10,10.7,10.7.3,SM_DTH_MIGR,Total deaths and disappearances recorded durin...,1,World,2016,8084,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10,10.7,10.7.3,SM_DTH_MIGR,Total deaths and disappearances recorded durin...,1,World,2017,6290,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10,10.7,10.7.3,SM_DTH_MIGR,Total deaths and disappearances recorded durin...,1,World,2018,5009,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# df_goal.iloc(df_goal['Value'] == 8177)
# df_goal['Value'].idxmax()# prints the index
df_goal.loc[df_goal['Value']==df_goal['Value'].max(),'GeoAreaName']

9    World
Name: GeoAreaName, dtype: object

In [62]:
No_of_appearance = df_goal['GeoAreaName'].value_counts()['Algeria']
print(f"Algeria has appeared {No_of_appearance} times and is the highest amongst the four")

Algeria has appeared 10 times and is the highest amongst the four

Q6 Which year has the most data points in this dataset?

In [102]:
df_goal['TimePeriod'].value_counts().idxmax()

2018

Q7 The GeoAreaName column contains different levels of aggregation, ranging from country, to subregions, to the World. 

Determine the average number of ‘Total deaths and disappearances recorded during migration’ per GeoAreaName entry, over the period 2018-2023. Express this GeoAreaName average as a proportion of the World average over that time period. What is the proportion that forms the largest share?

In [103]:
# df_1 = df_goal[['GeoAreaName','TimePeriod']]
df_cutted = df_goal[(2018<=df_goal['TimePeriod']) & (df_goal['TimePeriod']<=2023)]

In [110]:
geo_indexes = df_cutted['GeoAreaName'].value_counts().index
our_df =df_cutted['GeoAreaName'].value_counts()
df_cutted['GeoAreaName'].value_counts()

GeoAreaName
World             6
Mauritania        6
Eastern Europe    6
Western Europe    6
Colombia          6
                 ..
Singapore         1
Israel            1
Iraq              1
Oman              1
South Africa      1
Name: count, Length: 160, dtype: int64

In [105]:
geo_indexes[0]

'World'

In [112]:
our_df.loc

In [140]:
# my_val = df_goal[df_goal['TimePeriod']==2020]['Value'].sort_values(ascending=True)
cut = df_goal[df_goal['GeoAreaName']!='World']
my_val = cut[cut['TimePeriod']==2020]['Value'].sort_values(ascending=True)
cut.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,.10,.11,.12,.13,.14,.15,.16,.17,.18,.19
10,10,10.7,10.7.3,SM_DTH_MIGR,Total deaths and disappearances recorded durin...,4,Afghanistan,2017,10,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10,10.7,10.7.3,SM_DTH_MIGR,Total deaths and disappearances recorded durin...,4,Afghanistan,2018,3,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,10,10.7,10.7.3,SM_DTH_MIGR,Total deaths and disappearances recorded durin...,4,Afghanistan,2019,1,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,10,10.7,10.7.3,SM_DTH_MIGR,Total deaths and disappearances recorded durin...,4,Afghanistan,2020,11,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,10,10.7,10.7.3,SM_DTH_MIGR,Total deaths and disappearances recorded durin...,4,Afghanistan,2021,188,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
first_quartile = my_val[:int(len(my_val)/2)]
second_quartile = my_val[int(len(my_val)/2):]
mean1 = first_quartile.mean()
mean2 = second_quartile.mean()
mean2-mean1

147.09634146341463

In [144]:
q1 = np.percentile(my_val,25)
q3 = np.percentile(my_val,75)
q3-q1

123.0