In [4]:
my_books = {
    'book_id': [1, 2, 3, 4],
    'authors': [['Alice'], ['Bob', 'Carol'], ['David'], ['Eve']],
    'tag_name': ['fiction', 'non-fiction', 'history', 'fiction, biography']
}

In [7]:
import pandas as pd
books = pd.DataFrame(my_books)
books

   book_id       authors            tag_name
0        1       [Alice]             fiction
1        2  [Bob, Carol]         non-fiction
2        3       [David]             history
3        4         [Eve]  fiction, biography

In [22]:
books[['authors','tag_name']].values.tolist()

[[['Alice'], 'fiction'],
 [['Bob', 'Carol'], 'non-fiction'],
 [['David'], 'history'],
 [['Eve'], 'fiction, biography']]

In [25]:
pd.Series(books[['authors','tag_name']].values.tolist())

0             [[Alice], fiction]
1    [[Bob, Carol], non-fiction]
2             [[David], history]
3    [[Eve], fiction, biography]
dtype: object

In [1]:
pd.Series(books[['authors','tag_name']].values.tolist()).str.

SyntaxError: invalid syntax (802482299.py, line 1)

In [6]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

C:\Users\redyo\AppData\Local\Temp\ipykernel_9636\4237619347.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

TypeError: 'module' object is not callable