In [2]:
# import sqlite3
# import pandas as pd
# connection = sqlite3.connect("Maji_Ndogo_farm_survey_small.db")
# cursor = connection.cursor()
# query = "SELECT * From Geographic_features"
# cursor.execute(query)

# result = cursor.fetchall()
# for i in result:
#     print(i)

In [3]:
import sqlite3
import pandas as pd
Tables = {"Geographic_features","Soil and crop features","Weather_features"," Farm_management_features","Target variable"}
connection = sqlite3.connect("Maji_Ndogo_farm_survey_small.db")
query = "SELECT * From Geographic_features"
# df = pd.read_sql_query("Maji_Ndogo_farm_survey_small.db",connection)
df = pd.read_sql_query(query,connection)
df.head()

C:\Users\redyo\AppData\Local\Temp\ipykernel_3460\3503323292.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

   Field_ID  Elevation  Latitude  Longitude        Location      Slope
0     40734  786.05580 -7.389911  -7.556202    Rural_Akatsi  14.795113
1     30629  674.33410 -7.736849  -1.051539    Rural_Sokoto  11.374611
2     39924  826.53390 -9.926616   0.115156    Rural_Sokoto  11.339692
3      5754  574.94617 -2.420131  -6.592215  Rural_Kilimani   7.109855
4     14146  886.35300 -3.055434  -7.952609  Rural_Kilimani  55.007656

In [4]:
df.columns

Index(['Field_ID', 'Elevation', 'Latitude', 'Longitude', 'Location', 'Slope'], dtype='object')

In [5]:
import sqlite3

def get_table_info(db_file):
    """
    Gets all table names and their attributes (columns) from a SQLite database.

    Args:
        db_file (str): The path to the SQLite database file.

    Returns:
        dict: A dictionary where keys are table names and values are lists of column names.
    """

    connection = sqlite3.connect(db_file)
    cursor = connection.cursor()

    # Get table names
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_names = [row[0] for row in cursor.fetchall()]

    # Get column attributes for each table
    table_info = {}
    for table_name in table_names:
        cursor.execute(f"PRAGMA table_info('{table_name}');")
        column_names = [row[1] for row in cursor.fetchall()]
        table_info[table_name] = column_names

    connection.close()
    return table_info

if __name__ == "__main__":
    db_file = "your_database.db"  # Replace with your actual database file path
    table_info = get_table_info(db_file)

    print("Table Names and Attributes:")
    for table_name, columns in table_info.items():
        print(f"- Table: {table_name}")
        print(f"  Columns: {', '.join(columns)}")
        print()

Table Names and Attributes:

In [6]:
connection = sqlite3.connect("Maji_Ndogo_farm_survey_small.db")
cursor = connection.cursor()
query = "SELECT name FROM sqlite_master WHERE type = 'table';"
cursor.execute(query)
table = cursor.fetchall()
table

[('geographic_features',),
 ('weather_features',),
 ('soil_and_crop_features',),
 ('farm_management_features',)]

In [7]:
query2 = "PRAGMA table_info(geographic_features)"
cursor.execute(query2)
columns = cursor.fetchall()
# print(columns)
fields = [i[1] for i in columns]
print(fields)

['Field_ID', 'Elevation', 'Latitude', 'Longitude', 'Location', 'Slope']

In [8]:
# df.to_csv("Maji_Ndogo_farm_survey_small.csv")
cursor.execute("SELECT * From geographic_features")
df1 = cursor.fetchall()
df3 = pd.DataFrame(df1)
cursor.execute("PRAGMA table_info(geographic_features)")
info = cursor.fetchall()
# info
info2 = [i[1] for i in info ]
info2
df3.columns = info2

      Field_ID  Elevation   Latitude  Longitude        Location      Slope
0        40734  786.05580  -7.389911  -7.556202    Rural_Akatsi  14.795113
1        30629  674.33410  -7.736849  -1.051539    Rural_Sokoto  11.374611
2        39924  826.53390  -9.926616   0.115156    Rural_Sokoto  11.339692
3         5754  574.94617  -2.420131  -6.592215  Rural_Kilimani   7.109855
4        14146  886.35300  -3.055434  -7.952609  Rural_Kilimani  55.007656
...        ...        ...        ...        ...             ...        ...
5649     11472  681.36145  -7.358371  -6.254369    Rural_Akatsi  16.213196
5650     19660  667.02120  -3.154559  -4.475046  Rural_Kilimani   2.397553
5651     41296  670.77900 -14.472861  -6.110221   Rural_Hawassa   7.636470
5652     33090  429.48840 -14.653089  -6.984116   Rural_Hawassa  13.944720
5653      8375  763.09030  -4.317028  -6.344461  Rural_Kilimani  35.189430

[5654 rows x 6 columns]

In [9]:
df3.to_csv("geographic_features")

In [10]:
df0 = pd.read_csv("geographic_features")
df0

,Unnamed: 0,Field_ID,Elevation,Latitude,Longitude,Location,Slope
0,0,40734,786.05580,-7.389911,-7.556202,Rural_Akatsi,14.795113
1,1,30629,674.33410,-7.736849,-1.051539,Rural_Sokoto,11.374611
2,2,39924,826.53390,-9.926616,0.115156,Rural_Sokoto,11.339692
3,3,5754,574.94617,-2.420131,-6.592215,Rural_Kilimani,7.109855
4,4,14146,886.35300,-3.055434,-7.952609,Rural_Kilimani,55.007656
...,...,...,...,...,...,...,...
5649,5649,11472,681.36145,-7.358371,-6.254369,Rural_Akatsi,16.213196
5650,5650,19660,667.02120,-3.154559,-4.475046,Rural_Kilimani,2.397553
5651,5651,41296,670.77900,-14.472861,-6.110221,Rural_Hawassa,7.636470
5652,5652,33090,429.48840,-14.653089,-6.984116,Rural_Hawassa,13.944720
5653,5653,8375,763.09030,-4.317028,-6.344461,Rural_Kilimani,35.189430

### My_final_outPut

In [14]:
connection = sqlite3.connect("Maji_Ndogo_farm_survey_small.db")
cursor = connection.cursor()
query1 = "SELECT name FROM sqlite_master WHERE type = 'table'  "
cursor.execute(query1)
table_names = cursor.fetchall()
table_names

[('geographic_features',),
 ('weather_features',),
 ('soil_and_crop_features',),
 ('farm_management_features',)]

In [12]:
table_names2 = [i[0] for i in table_names] #-> ['geographic_features','weather_features','soil_and_crop_features','farm_management_features']
table_names2

['geographic_features',
 'weather_features',
 'soil_and_crop_features',
 'farm_management_features']

In [16]:

a= table_names2[0]
query2 = "PRAGMA table_info('{a}')"
cursor.execute(f"PRAGMA table_info('{a}')")
attrib = cursor.fetchall()
attrib
# table_names2

[(0, 'Field_ID', 'BIGINT', 0, None, 0),
 (1, 'Elevation', 'FLOAT', 0, None, 0),
 (2, 'Latitude', 'FLOAT', 0, None, 0),
 (3, 'Longitude', 'FLOAT', 0, None, 0),
 (4, 'Location', 'TEXT', 0, None, 0),
 (5, 'Slope', 'FLOAT', 0, None, 0)]

In [41]:
for i in table_names2:
    cursor.execute(f"PRAGMA table_info('{i}'  )")
    col_names =[i[1] for i in cursor.fetchall()] #--> the out put of this is a list
    # print(col_names)
    cursor.execute(f"SELECT * FROM {i}")
    data = cursor.fetchall()
    DF = pd.DataFrame(data)
    DF.columns = col_names
    print(DF.head(3))
    # DF.to_csv(i) #// now all are saved in separate .csv files with respect to their table names

   Field_ID  Elevation  Latitude  Longitude      Location      Slope
0     40734   786.0558 -7.389911  -7.556202  Rural_Akatsi  14.795113
1     30629   674.3341 -7.736849  -1.051539  Rural_Sokoto  11.374611
2     39924   826.5339 -9.926616   0.115156  Rural_Sokoto  11.339692
   Field_ID  Rainfall  Min_temperature_C  Max_temperature_C  Ave_temps
0     40734    1125.2               -3.1               33.1      15.00
1     30629    1450.7               -3.9               30.6      13.35
2     39924    2208.9               -1.8               28.4      13.30
   Field_ID  Soil_fertility Soil_type        pH
0     40734            0.62     Sandy  6.169393
1     30629            0.64  Volcanic  5.676648
2     39924            0.69  Volcanic  5.331993
   Field_ID  Pollution_level  Plot_size  Crop_type Annual_yield  \
0     40734         0.085267        1.3   0.751354      cassava
1     30629         0.399684        2.2   1.069865      cassava
2     39924         0.358029        3.4   2.208801          tea

   Standard_yield
0        0.577964
1        0.486302
2        0.649647